<div class="row mx-auto mb-5 ">
    <div class="my-5 col-lg-12 text-center">
        <h1 id="tit">Algoritmos </h1>
    </div>

    <div class=" card col-lg-6 mx-auto" style="width: 37rem;">

        <h1 class="card-title text-center my-4"> ¿Qué son los tipos de datos?</h1>
        <div>
            <p class=" card-text mx-auto my-2"> Un algoritmo es una serie de instrucciones sencillas que se llevan a cabo para solventar un problema, podría ser una receta de cocina o las instrucciones para fabricar un avión de papel a partir de un folio. Los algoritmos tienen una entrada
                (input) y una salida (output), entre ambas están las instrucciones: la entrada podría ser la carne picada, el tomate, las láminas de pasta y la salida la lasaña perfectamente gratinada.
            </p>
            <p class="card-text mx-auto my-4"> Con la llegada de los ordenadores tomaron mucho más protagonismo. La unión de máquinas y algoritmos es lo que está cambiando el mundo. El matemático británico Alan Turing, famoso por haber reventado la máquina Enigma de mensajes cifrados de
                los nazis y por haberse suicidado mordiendo una manzana envenenada tras sufrir una dura persecución debido a su condición homosexual, fue de los primeros que relacionó algoritmo y ordenadores. De hecho, fue de los primeros que imaginó
                un ordenador tal y como los conocemos. Incluso llegó a pensar que las máquinas podrían pensar, y hasta escribir poemas de amor.
            </p>
        </div>
    </div>

    <div class="col-lg-4 me-auto">
        <img class="card-img-top" src="../../assets/images/algoritmos/Algoritmo.svg">
    </div>
    <div class="card mx-auto  text-center col-12 my-5" id=central style="width: 72rem;">
        <div class="card-body">

            <div class="">
                <p class="card-text mx-auto my-10 " id="prueba">
                    Así que, en código, un algoritmo es una función que reciba determinados parámetros para obtener un resultado que necesitemos, hay algoritmos sencillos como un algoritmo para sumar dos números o un algoritmo para determinar el volumen de un cono. También
                    hay algoritmos bastante complejos, como, por ejemplo, el famoso algoritmo de Facebook.
                </p>

            </div>
        </div>

    </div>

    <div class="col-lg-8 mx-auto  " style="width: 72rem;">
        <p class="text-justify " id="color"> <span id="signos">"</span> El big data los algoritmos analizan millones de datos de consumidores, hay algoritmos en los coches automáticos, o en redes sociales como Facebook o Twitter", dice Ricardo Peña. Están por todas partes, en Uber, en los
            Google Maps, los utilizamos cada día. Por ejemplo, las modificaciones en el algoritmo que decide qué se ve en tu muro de Facebook, conocido como EdgeRank, suelen causar grandes revuelos entre los usuarios. A principios de 2018, la empresa
            decidió dar más importancia a los usuarios particulares que empresas, marcas y medios de comunicación, en un intento de que la red social volviera a ser más "social" y paliar fenómenos como el clickbait y las noticias falsas. Dada la alta
            dependencia actual del mundo real a Facebook, el cambio dio bastantes quebraderos de cabeza, especialmente a empresas y medios.<span id="signos">"</span></p>
        <a id="btn-module" class="btn btn-primary my-5 " [routerLink]="['/']">VER EJEMPLOS</a>
    </div>
</div>