<div class="row mx-auto mb-5">

    <div class="row mx-auto ">
        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Introducción</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/TiposDeDatosIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Tipos de datos</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/RepresentacionBinariaIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Representacion Binaria</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/AbstraccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Abstraccion de datos</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/FuncionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Concepto de funcion </h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/AlgoritmosIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Algoritmos</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/ArreglosIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Arreglos</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/introduccion/PunterosIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Punteros</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-5">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Cuestionario</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>




    </div>
</div>