.title-content h1 {
    font-size: 50px;
    font-family: initial;
}

.title-content a {
    cursor: pointer;
}

.title-content img {
    width: 40px;
}

.title-content a:hover>img {
    width: 45px;
}

#prueba {
    transform: translate(50px)
}

#prueba1 {
    transform: translate(-30px)
}

#tabla {
    margin: 150px;
    width: 1000px;
}

table {
    text-align: center;
    width: 70rem;
    cursor: default;
}

table th {
    background: black;
    color: white;
}

th,
td {
    padding: 20px
}

tr:nth-child(odd) {
    background-color: rgb(244, 243, 243);
}

.card-text {
    font-size: 120%;
    width: 25rem;
    text-align: justify;
}

.card-title {
    font-size: 250%;
}

.card {
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2)
}