<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">
        <a [routerLink]="['/modulo1-algoritmos']" class="d-inline-block mr-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/left-row.png" alt="left-row.png">
        </a>
        <h1 class="d-inline-block" id="tit">Arreglos </h1>
        <a [routerLink]="['/modulo1-punteros']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>


    <div class=" card col-lg-5 mx-auto" style="width: 35rem;">

        <h1 class="card-title text-center my-4"> ¿Qué es un arreglo?</h1>
        <div>
            <p class=" card-text mx-auto my-2">
                Los arreglos son otra estructura de datos estática, pero con mayor beneficio que las variables simples. La gran mayoría de soluciones por computadora no será suficiente con el uso de variables simples, necesitará de una colección de datos del mismo tipo
                (arreglos) o diferentes tipos(estructuras), incluso archivos. Los arreglos permiten manipular datos de manera muy flexible. Combinándolas y anidándolas, es posible organizar información de manera estructurada para representar sistemas
                del mundo real.
            </p>
            <p class="card-text mx-auto my-4">
                Un arreglo es una colección de posiciones de almacenamiento de datos, donde cada una tiene el mismo tipo de dato y el mismo nombre. Cada posición de almacenamiento en un arreglo es llamada un elemento del arreglo.
            </p>
        </div>
    </div>

    <div id="pende" class="col-lg-5 me-auto">
        <img class="card-img-top" src="../../assets/images/arreglos/arrayIlus.jpg">
    </div>

    <div class=" card col-lg-5 my-5 mx-auto" style="width: 37rem; height:24rem;">

        <h1 class="card-title text-center my-4"> Declaración</h1>
        <div>
            <p class=" card-text mx-auto my-2">
                Un arreglo es una colección de posiciones de almacenamiento de datos, donde cada una tiene el mismo tipo de dato y el mismo nombre. Cada posición de almacenamiento en un arreglo es llamada un elemento del arreglo.
            </p>
            <p class="card-text mx-auto myfa-stack-2">
                <li>
                    Escribe el tipo de dato que almacenará el arreglo
                </li>
                <li>
                    Escribe el nombre del arreglo
                </li>
                <li>
                    Entre corchetes, escribe la cantidad de elementos de ese tipo que se almacenarán.
                </li>
            </p>
            <pre class="language-language-markup line-numbers">
                <code class="language-c ">
                    float grupo[10];
                </code>
            </pre>
        </div>
    </div>

    <div class=" card col-lg-5 mx-auto my-5 " style="width: 35rem; height:27rem;">

        <h1 class="card-title text-center my-4"> Asignar valores a una ubicación</h1>
        <div id="">
            <p class=" card-text mx-auto my-2">
                Los arreglos nos sirven para almacenar datos. Si deseamos guardar datos en un arreglo podemos escribir la ubicación exacta donde deseamos almacenarlos.
            </p>
            <p class="card-text mx-auto my-4">
                Para guardar un dato en este caso, un cero- en las ubicaciones 0,1 y 2 del arreglo grupo, podemos escribir:
            </p>
            <pre class="language-language-markup line-numbers">
                <code class="language-c ">
                    grupo[0] = 0;
      
grupo[1] = 0;

grupo[2] = 0;
                </code>
            </pre>
        </div>
    </div>

    <a id="btn-module" class="btn btn-primary my-5 " (click)="open(examplemodal)">VER EJEMPLOS</a>
</div>


<ng-template #examplemodal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Ejemplos</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <li>
                <a routerLink="/module5/ejemplo1">
                    Ejemplo1
                </a>
            </li>
            <li>
                <a routerLink="/module5/ejemplo2">
                    Ejemplo 2
                </a>
            </li>
            <li>
                <a routerLink="/module5/ejemplo3">
                    Ejemplo 3
                </a>
            </li>
            <li>
                <a routerLink="/module5/ejemplo4">
                    Ejemplo 4
                </a>
            </li>
            <li>
                <a routerLink="/module5/ejemplo5">
                    Ejemplo 5
                </a>
            </li>
        </ol>
    </div>
</ng-template>