<div class="row mx-auto mb-5">

    <div class="row mx-auto ">
        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/tiposDatos/AbstraccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Abstraccion en lenguajes de programacion </h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/tiposDatos/TipoIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Tipos de datos abstractos</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/tiposDatos/ClasesIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Clases</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/tiposDatos/EspecificacionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Especificación de TAD</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/tiposDatos/CuestionarioIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Cuestionario</h2>

                    <a id="btn-module" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>



    </div>
</div>