.card img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.card p {
    min-height: 100px;
}

.card {
    height: 23rem;
}

#btn-module {
    display: block;
    margin: auto;
    width: 25%;
}