<nav class="navbar navbar-expand-lg">
    <div class="container-fluid w-75">
        <a [routerLink]="['/']">
            <img src="assets/images/logo/logoUTP.png" class="app-logo" id="logo" alt="Logotipo" width=80px />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item marg-default">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item marg-default">
                    <a class="nav-link " [routerLinkActive]="['active']">Manual de usuario</a>
                </li>
                <li class="nav-item marg-default">
                    <a class="nav-link " href="#" [routerLinkActive]="['active']">Manuel técnico</a>
                </li>
                <li class="nav-item" id="btn-module">
                    <button type="button" class="btn btn-light" [routerLink]="['/modules/main']">Modulos</button>
                </li>

            </ul>
        </div>
    </div>
</nav>