<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">
        <a [routerLink]="['/modulo3-colas']" class="d-inline-block mr-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/left-row.png" alt="left-row.png">
        </a>
        <h1 class="d-inline-block" id="tit">Colas con prioridades </h1>
        <a [routerLink]="['/']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>

    <div class="card mx-auto my-2 text-center col-10" id=principal style="width: 35rem; height: 21rem">
        <div class="card-body">

            <div class="">
                <p class="card-text mx-auto my-4" id="ancho">
                    La cola de prioridad también es un tipo de datos abstracto. Cada elemento en la cola de prioridad tiene su propia prioridad. De hecho, este concepto se entenderá un poco más rápido haciendo algunas comparaciones. Por ejemplo, el sistema de Windows que
                    todos han usado, cuando abrimos el administrador de tareas, la prioridad de cada tarea es diferente, y el sistema operativo seleccionará la tarea con la prioridad más alta para ejecutar primero, y también podemos elegir Marque la prioridad
                    de la tarea.
                </p>
                <p class="card-text mx-auto my-4" id="ancho">
                    Otro ejemplo son los médicos de urgencias en turnos nocturnos. Si dos o tres pacientes con resfriados y fiebres están haciendo cola para recibir tratamiento, en este momento, un paciente con un ataque cardíaco tiene prisa. Por supuesto, nuestro médico
                    primero debe tratar el ataque cardíaco. El paciente enfermo La cola de prioridad también es una razón, el procesamiento de prioridad de datos o tareas de alta prioridad.
                </p>
                <p class="card-text mx-auto my-4" id="ancho">
                    El elemento con la prioridad más alta se sirve primero, y los elementos con la misma prioridad se sirven según su orden en la cola de prioridad. Las colas de prioridad a menudo se implementan utilizando montones.
                </p>

            </div>
        </div>

    </div>

    <div class="card mx-auto my-2 text-center " id=principal style="width: 35rem; height: 10rem">
        <div class="card-body">
            <div class="">
                <p class="card-text mx-auto my-2">
                    La cola de prioridad debe al menos soportar estas operaciones:
                </p>
                <p class="card-text mx-auto my-4">
                    <li>Insertar elementos prioritarios.</li>
                    <li>Saque el elemento con la más alta prioridad.</li>
                    <li>Ver el elemento de mayor prioridad. (O (1) complejidad de tiempo)</li>
                </p>


            </div>
        </div>

    </div>



</div>