<div class="my-5 col-lg-12 text-center">
    <h1 id="tit">Tipo de datos </h1>
</div>

<div class="card mx-auto" style="width: 25rem;">

    <div class="card-body col-lg-12 my-3">
        <h1 class="card-title text-center"> ¿Qué son los tipos de datos? </h1>
        <p class="card-text">
            Un tipo de dato es un atributo que toma un dato para indicarle a la maquina su comportamiento, los valores que pude tomar y operaciones que puede hacer. Entonces un tipo de dato es un espacio en memoria con restricciones. Por ejemplo, el tipo "int" representa,
            generalmente, un conjunto de enteros de 32 bits cuyo rango va desde el -2.147.483.648 al 2.147.483.647, también representa las operaciones que se pueden hacer con enteros, como suma, resta, multiplicación y división.
        </p>
    </div>

</div>

<div class="card mx-auto" style="width: 25rem;">

    <div class="card-body col-lg-12 my-3">
        <h1 class="card-title text-center"> Tipos de datos elementales </h1>
        <p class="card-text">
            Los tipos de datos hacen referencia a la clase de información que se trabaja, donde la unidad mínima de almacenamiento es el dato, también se pude considerar como el rango de valores que pude tomar una variable a lo largo de la ejecución de un programa.
        </p>
    </div>

</div>