<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">
        <a [routerLink]="['/modulo2-abstraccion']" class="d-inline-block mr-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/left-row.png" alt="left-row.png">
        </a>
        <h1 class="d-inline-block" id="tit">Especificacion del TAD </h1>
        <a [routerLink]="['/modulo1-cuestionario']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>


</div>