<div class="row mx-auto mb-5 ">
    <div class="my-5 col-lg-12 text-center">
        <h1 id="tit">Abstraccion de datos </h1>
    </div>

    <div class=" card col-lg-6 mx-auto" id="estilo" style="width: 32rem;">
        <div class="my-2">
            <p class=" card-text mx-auto my-4 "> El concepto de abstracción es tomar el modelo de los sistemas que se encuentran dentro del universo, por ejemplo, modelos matemáticos, tales como las ecuaciones que describen el movimiento de los satélites alrededor de la tierra. Se busca
                recopilar las características más significativas de estos modelos. Dejando de lado las características irrelevantes. Incluyendo solamente las características esenciales.
            </p>
            <p class="card-text mx-auto my-4"> La abstracción de datos es la separación de las propiedades lógicas de los tipos de datos de su implementación. Si estamos tratando con un tipo particular de datos, queremos hablar sobre ellos en términos de su significado. Es decir, la abstracción
                consiste en aislar un elemento de su contexto o del resto de los elementos que lo acompañan. Se le da más importancia a “<span id="cambio">¿qué hace?</span>" más que en al "<span id="cambio">¿cómo lo hace?</span>".
            </p>
        </div>
    </div>

    <div id="pende" class="col-lg-4 me-auto">
        <img class="card-img-top" src="../../assets/images/abstraccion/Abstraccion.svg">
    </div>

    <div class="col-lg-4 my-4 me-auto">
        <img class="card-img-top" src="../../assets/images/abstraccion/Programmer.svg">
    </div>

    <div class=" card col-lg-6 mx-auto my-3" style="width: 32rem;">

        <p class=" card-text mx-auto my-4 "> cuando se habla de un entero es fácil usarlo pues lo hemos convertido en una generalidad ya que todo el tiempo lo aplicamos para realizar programas. Y un entero es una abstracción de un tipo de dato. Como ejemplo la siguiente operación es una
            abstracción de datos:
        </p>
        <p class="card-text mx-auto my-4 text-center">
            <span id="cambio">resultado = a + b;</span>
        </p>
        <p class="card-text mx-auto my-4">
            La abstracción también se puede entender como el método que se usa al momento de analizar un elemento particular, despreciando los aspectos no relevantes para el estudio específico, y considerando solo las propiedades esenciales para dicho análisis, facilitando
            con ello la mejor comprensión de dicho elemento y disminuyendo de esta manera el esfuerzo que se debe invertir en su comprensión.
        </p>

    </div>
    <div class=" card col-lg-6 mx-auto my-3" id="nota" style="width: 70rem;">
        <div id="distribucion ">
            <p class=" card-text mx-auto my-4 ">
                <span id="cambio">Nota:</span> Debemos usar la abstracción para crear tipos de datos. Un tipo de datos cumple dos funciones, acercar el programa al dominio que estamos programando y ocultar la implementación con una barrera de abstracción.
            </p>
            <p class="card-text mx-auto my-4 ">
                En la POO hacemos abstracciones de los objetos de la vida real para llevarlos a código, por ejemplo, un vehículo, el cual es el elemento principal, este tiene ciertas características como el color, modelo o la marca, y tendría los métodos de avanzar,
                retroceder o frenar. Otro ejemplo puede ser una fracción, esta es una estructura matemática que tiene un numerador y un denominador, por ejemplo 5/3. La fracción será el objeto y tendrá dos propiedades, el numerador y el denominador. Luego
                tiene ciertos métodos que es lo que puede hacer esta fracción como simplificarse, sumarse con otra fracción o número, restarse con otra fracción, etc...
            </p>
        </div>
    </div>
    <a class="btn btn-primary col-lg-3 mx-auto  "> VER EJEMPLOS </a>
</div>