.title-content h1 {
    font-size: 50px;
    font-family: initial;
}

.title-content a {
    cursor: pointer;
}

.title-content img {
    width: 40px;
}

.title-content a:hover>img {
    width: 45px;
}

.card-text {
    font-size: 120%;
    width: 30rem;
    text-align: justify;
}

#estilo p {
    width: 29rem;
}

#cambio {
    color: rgb(102, 201, 205);
}

#nota p {
    width: 66rem;
}