#tit {
    font-size: 400%;
    font-family: initial;
}

#principal {
    font-size: 100%;
    width: 35rem;
    text-align: justify;
}

.card-text {
    font-size: 120%;
    width: 35rem;
    text-align: justify;
}

.card-title {
    font-size: 250%;
}