.title-content h1 {
    font-size: 50px;
    font-family: initial;
}

.title-content a {
    cursor: pointer;
}

.title-content img {
    width: 40px;
}

.title-content a:hover>img {
    width: 45px;
}

#principal {
    font-size: 100%;
    width: 35rem;
    text-align: justify;
}

.card-text {
    font-size: 120%;
    width: 35rem;
    text-align: justify;
}

.card-title {
    font-size: 250%;
}

.card img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.card {
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2)
}

#btn-example {
    border-radius: 10px;
}

#btn-example:hover {
    background-color: rgb(50, 50, 218) !important;
    cursor: pointer;
}

.modal-body ol li {
    margin-top: 10px;
}

.modal-body ol li a:hover {
    cursor: pointer;
    color: blue;
}

#ultimo {
    width: 49rem;
}