<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">
        <a [routerLink]="['/modulo1-introduccion']" class="d-inline-block mr-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/left-row.png" alt="left-row.png">
        </a>
        <h1 class="d-inline-block" id="tit">Tipo de datos </h1>
        <a [routerLink]="['/modulo1-representacion']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>

    <div class="card mx-auto my-2 text-center col-10" id=principal style="width: 35rem; height: 13rem">
        <div class="card-body">
            <h1 class="card-title text-center"> ¿Qué son los tipos de datos?</h1>
            <div class="">
                <p class="card-text mx-auto my-4" id="ultimo">
                    Un tipo de dato es un atributo que toma un dato para indicarle a la maquina su comportamiento, los valores que pude tomar y operaciones que puede hacer. Entonces un tipo de dato es un espacio en memoria con restricciones. Por ejemplo, el tipo "int" representa,
                    generalmente, un conjunto de enteros de 32 bits cuyo rango va desde el -2.147.483.648 al 2.147.483.647, también representa las operaciones que se pueden hacer con enteros, como suma, resta, multiplicación y división.
                </p>

            </div>
        </div>

    </div>

    <div class="card mx-auto my-4" style="width: 40rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Tipos de datos elementales</h1>
            <div class="">
                <p class="card-text mx-auto my-4">
                    Los tipos de datos hacen referencia a la clase de información que se trabaja, donde la unidad mínima de almacenamiento es el dato, también se pude considerar como el rango de valores que pude tomar una variable a lo largo de la ejecución de un programa.
                </p>
                <p class="card-text mx-auto my-4">
                    <li> <strong>Caracteres:</strong> El tipo de dato carácter es un dígito individual el cual se puede representar como numéricos (0 al 9), letras (a-z) y símbolos (!"$&/\).</li>
                </p>

                <pre class="language-language-markup line-numbers">
                    <code class="language-c">
                        char caracter;
                    </code>
                </pre>

                <p class="card-text mx-auto my-4">
                    <li> <strong>Numéricos:</strong> Este tipo de dato puede ser entero o flotante (Real). Los enteros son valores sin punto decimal, pueden ser positivos negativos y cero. Ejemplo: -7, -3, 0, 3, 7.
                    </li>
                </p>

                <!--codigo  -->
                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        int main(){{ '{' }}
                            printf("Hola mundo");
                        {{ '}' }}
                    </code>
                </pre>

                <p class="card-text mx-auto my-4">
                    <li> <strong>Booleanos:</strong> Este es tipo de dato se emplea para valores lógicos, su comportamiento se basa en “True” (Verdadero) o “False” (Falso), los podemos como datos comparativos, esta comparación devuelve uno u otro.</li>
                </p>

                <!--codigo  -->
                <pre class="language-language-markup line-numbers">
                    <code class="language-c">
                        bool valorLogico;
                    </code>
                </pre>
            </div>
        </div>

    </div>


    <div class="card mx-auto my-4" style="width: 40rem; height:49rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Tipos de datos compuestos</h1>
            <div class="">
                <p class="card-text mx-auto my-4">
                    Los tipos de datos hacen referencia a la clase de información que se trabaja, donde la unidad mínima de almacenamiento es el dato, también se pude considerar como el rango de valores que pude tomar una variable a lo largo de la ejecución de un programa.
                </p>
                <p class="card-text mx-auto my-4">
                    <li> <strong>Arreglo:</strong> almacena un número de elementos del mismo tipo en un orden específico. Los arrays pueden ser estáticos (con una medida fija) o dinámicos (crecer durante su ciclo de vida).</li>
                </p>

                <!--codigo -->
                <pre class="language-language-markup line-numbers">
                    <code class="language-c">
                        int my_vector1[10];
                        float my_vector2[25];
                        string my_vector3[500];
                        bool my_vector4[1000];
                        char my_vector5[2];

                        //Formas de declararlo
                        string vector[5] = {{'{'}}"5", "hola", "2.7", "8,9", "adios"{{'}'}};

                        int vector2[] = {{'{'}}1,2,3,4,10,9,80,70,19{{'{'}};
                    </code>
                </pre>

                <p class="card-text mx-auto my-4">
                    <li> <strong>Tupla:</strong> es un tipo de dato estructurado formado por la unión de varios elementos bajo una misma estructura. Estos elementos pueden ser, o bien datos elementales (entero, real, carácter, etc..), o bien otras estructuras
                        de datos.</li>
                </p>

                <!--codigo  -->
                <pre class="language-language-markup line-numbers">
                    <code class="language-c">
                        tuple {{'<'}}char, int, float{{'>'}} tupla;
                    </code>
                </pre>
            </div>
        </div>

    </div>

    <div class="col-lg-3 mt-5 mx-auto text-center">
        <a id="btn-example" (click)="open(examplemodal)" class="btn-primary p-3 d-inline-block">VER EJEMPLOS</a>
    </div>
</div>



<ng-template #examplemodal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Ejemplos</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <li>
                <a routerLink="/module1/ejemplo1">
                    Escribir un programa que pregunte al usuario su edad y muestre por pantalla si es mayor de edad o no.
                </a>
            </li>
            <li>
                <a routerLink="/module1/ejemplo2">
                    Escribir un programa que almacene la cadena de caracteres contraseña en una variable, pregunte al usuario por la contraseña e imprima por pantalla si la contraseña introducida por el usuario coincide con la guardada en la variable sin tener en cuenta mayúsculas y minúsculas.
                </a>
            </li>
            <li>
                <a routerLink="/module1/ejemplo3">
                    Escribir un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.
                </a>
            </li>
            <li>
                <a routerLink="/module1/ejemplo4">
                    Para tributar un determinado impuesto se debe ser mayor de 16 años y tener unos ingresos iguales o superiores a 1000 € mensuales. Escribir un programa que pregunte al usuario su edad y sus ingresos mensuales y muestre por pantalla si el usuario tiene que tributar o no.
                </a>
            </li>
        </ol>
    </div>
</ng-template>