.banner {
    width: 80%;
}

#btn-module {
    display: block;
    margin: auto;
    width: 25%;
}

#tit {
    font-size: 400%;
    font-family: initial;
}

.card {
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2)
}

.card img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.card h2 {
    min-height: 65px;
}

.card p {
    min-height: 100px;
}