<div class="row mx-auto mb-5 ">

    <div class="card mx-auto col-lg-10 my-5" style="width: 70rem;">
        <div class="card-body">

            <!--  <div class="">
                <p class="card-text mx-auto my-4">

                </p> -->

            <!--Preguntas-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form class="mid-form" #userForm="ngForm" name="formulario" (ngSubmit)="onsubmit()">
                            <!-- Pregunta 1 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#1</label>
                                <p>
                                    <strong>
                                        ¿Un tipo de dato se considera un espacio de memoria con restricciones según el
                                        tipo de dato que se esté hablando?
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt1" id="p11" value="p11" #pregunt1="ngModel" [(ngModel)]="fragebogen.pregunt1">
                                    <label class="form-check-label" for="p11">
                                    Verdadero
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt1" id="p12" value="p12" #pregunt1="ngModel" [(ngModel)]="fragebogen.pregunt1">
                                    <label class="form-check-label" for="p12">
                                        Falso
                                    </label>
                                </div>
                            </div>
                            <!-- Pregunta 2 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#2</label>
                                <p>
                                    <strong>
                                        ¿Cuáles son los tipos de datos elementales que se manejan ?
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt2" id="p21" value="p21" #pregunt1="ngModel" [(ngModel)]="fragebogen.pregunt2">
                                    <label class="form-check-label" for="p21">
                                        Reales - Flotantes - Strings
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt2" id="p22" value="p22" #pregunt1="ngModel" [(ngModel)]="fragebogen.pregunt2">
                                    <label class="form-check-label" for="p22">
                                        Booleanos - Flotantes - Numéricos - Tupla
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt2" id="p23" value="p23" #pregunt1="ngModel" [(ngModel)]="fragebogen.pregunt2">
                                    <label class="form-check-label" for="p23">
                                        Caracteres - Numéricos - Booleanos - Arreglo
                                    </label>
                                </div>
                            </div>
                            <!-- Pregunta 3 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#3</label>
                                <p>
                                    <strong>
                                        ¿Que es una función?
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt3" id="p31" value="p31" #pregunt3="ngModel" [(ngModel)]="fragebogen.pregunt3">
                                    <label class="form-check-label" for="p31">
                                        Una función es un conjunto de variables que son utilizadas a lo largo de la ejecución de un programa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt3" id="p32" value="p32" #pregunt3="ngModel" [(ngModel)]="fragebogen.pregunt3">
                                    <label class="form-check-label" for="p32">
                                        Son códigos predefinidos por el lenguaje de programación el cual permiten realizar tareas específicas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt3" id="p33" value="p33" #pregunt3="ngModel" [(ngModel)]="fragebogen.pregunt3">
                                    <label class="form-check-label" for="p33">
                                        Una función es una implementación en un lenguaje de programación que me permite recibir datos del usuario mediante
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt3" id="p34" value="p34" #pregunt3="ngModel" [(ngModel)]="fragebogen.pregunt3">
                                    <label class="form-check-label" for="p34">
                                        Es un concepto de abstracción de código que permite ser reutilizable en el flujo y construcción de un programa, el
        cual puede o no tener un valor de retorno
                                    </label>
                                </div>
                            </div>
                            <!-- Pregunta 4 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#4</label>
                                <p>
                                    <strong>
                                        La abstracción de datos es considerada como:
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt4" id="p41" value="p41" #pregunt4="ngModel" [(ngModel)]="fragebogen.pregunt4">
                                    <label class="form-check-label" for="p41">
                                        La definición de los datos y sus tipos que se van a manejar a la hora de crear un programa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt4" id="p42" value="p42" #pregunt4="ngModel" [(ngModel)]="fragebogen.pregunt4">
                                    <label class="form-check-label" for="p42">
                                        La definición de una operación matemática ya sea suma, resta, multiplicación o división
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt4" id="p43" value="p43" #pregunt4="ngModel" [(ngModel)]="fragebogen.pregunt4">
                                    <label class="form-check-label" for="p43">
                                        Es la representación del contexto global de las variables declaradas en un programa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt4" id="p44" value="p44" #pregunt4="ngModel" [(ngModel)]="fragebogen.pregunt4">
                                    <label class="form-check-label" for="p44">
                                        Es la separación de las propiedades lógicas de los tipos de datos de su implementación
                                    </label>
                                </div>
                            </div>
                            <!-- Pregunta 5 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#5</label>
                                <p>
                                    <strong>
                                        ¿Cómo se crean los tipos de datos abstractos?
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt5" id="p51" value="p51" #pregunt5="ngModel" [(ngModel)]="fragebogen.pregunt5">
                                    <label class="form-check-label" for="p51">
                                        Se deben definir primero los tipos de variables a utilizar para luego poder crear los tipos de datos abstractos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt5" id="p52" value="p52" #pregunt5="ngModel" [(ngModel)]="fragebogen.pregunt5">
                                    <label class="form-check-label" for="p52">
                                        Principalmente identificando el problema planteado y generando un modelo de lo que necesita, previamente basados en
                                        el modelo se pueden crear la abstracción de los datos que resolverán la necesidad del problema
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt5" id="p53" value="p53" #pregunt5="ngModel" [(ngModel)]="fragebogen.pregunt5">
                                    <label class="form-check-label" for="p53">
                                        Se identifica el número de operaciones que se necesitan realizar para poder después abstraer los datos que se van a
                                        necesitar.
                                    </label>
                                </div>
                            </div>
                            <!-- Pregunta 6 -->
                            <div class="mb-3">
                                <label class="form-label" id="color">Pregunta#6</label>
                                <p>
                                    <strong>
                                        Según las siguiente definiciones, ¿cuál considera que se adapta mejor a la definición de clases?
                                    </strong>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt6" id="p61" value="p61" #pregunt6="ngModel" [(ngModel)]="fragebogen.pregunt6">
                                    <label class="form-check-label" for="p61">
                                        Una clase es definida como una colección de variables y funciones que manipulan a las variables
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt6" id="p62" value="p62" #pregunt6="ngModel" [(ngModel)]="fragebogen.pregunt6">
                                    <label class="form-check-label" for="p62">
                                        Es un tipo de programa que permite y facilita la manipulación de los datos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt6" id="p63" value="p63" #pregunt6="ngModel" [(ngModel)]="fragebogen.pregunt6">
                                    <label class="form-check-label" for="p63">
                                        Es la definición de un tipo de dato
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunt6" id="p64" value="p64" #pregunt6="ngModel" [(ngModel)]="fragebogen.pregunt6">
                                    <label class="form-check-label" for="p64">
                                        Es un complemento de librerías utilizadas en en lenguaje C para poder manejar estructuras de datos
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary " onclick="resultado()"> 
                                <img
                                src="../../../assets/images/icons/marca-de-verificacion.png" 
                                class="card-img-top"
                                alt="introducion.jpg"
                                >
                                    RESPONDER
                            </button>

                            <!-- <p><strong>¿Un tipo de dato se considera un espacio de memoria con restricciones según el
                                    tipo de dato que se esté hablando?</strong></p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Default radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Default checked radio
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary " onclick="resultado()"> <img
                                    src="../../../assets/images/icons/marca-de-verificacion.png" class="card-img-top"
                                    alt="introducion.jpg"> RESPONDER</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #continueModal let-modal>
    <div class="modal-header">
        <!-- <h2 class="modal-title" id="modal-basic-title">Bien hecho ya podemos pasar a el siguiente modulo</h2> -->
        <img src="../../assets/images/modal/bienHecho.jpg" alt="bienHecho.jpg">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <dd>
                <strong>Ahora podemos </strong>
                <a routerLink="/datos-blank" (click)="modal.dismiss('Cross click')">
                    <strong>Continuar</strong>
                </a>
                <strong> con el siguien modulo.</strong>
            </dd>
        </ol>
    </div>
</ng-template>

<ng-template #reloadModal let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <dd>
                <p>Aun te falta para poder seguir al otro modulo</p>
                <a routerlink="/modulo1-cuestionario" (click)="modal.dismiss('Cross click')">
                    <img id="modalIncorrect" src="../../assets/images/modal/cross.png   " alt="bienHecho.jpg">
                    <strong>Reintentar</strong>
                </a>
            </dd>
        </ol>
    </div>
</ng-template>