<div class="row mx-auto mb-5 ">

    <div class="card mx-auto col-lg-10 my-5" style="width: 70rem;">
        <div class="card-body">

            <!--  <div class="">
                <p class="card-text mx-auto my-4">

                </p> -->

            <!--Preguntas-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                            <p id="color">Pregunta#1</p>
                            <p><strong>¿Un tipo de dato se considera un espacio de memoria con restricciones según el tipo de dato que se esté hablando?</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta1" id="p11"> Verdadero </dd>
                                <dd><input type="radio" name="pregunta1" id="p12"> Falso</dd>
                            </ol>
                            <p id="color">Pregunta#2</p>
                            <p><strong>¿Cuáles son los tipos de datos elementales que se manejan ?</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta2" id="p21"> Reales - Flotantes - Strings</dd>
                                <dd><input type="radio" name="pregunta2" id="p23"> Booleanos - Flotantes - Numéricos - Tupla</dd>
                                <dd><input type="radio" name="pregunta2" id="p22"> Caracteres - Numéricos - Booleanos - Arreglo</dd>
                            </ol>
                            <p id="color">Pregunta#3</p>
                            <p><strong>¿Que es una función?</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta3" id="p31"> Una función es un conjunto de variables que son utilizadas a lo largo de la ejecución de un programa</dd>
                                <dd><input type="radio" name="pregunta3" id="p33"> Son códigos predefinidos por el lenguaje de programación el cual permiten realizar tareas específicas</dd>
                                <dd><input type="radio" name="pregunta3" id="p32"> Una función es una implementación en un lenguaje de programación que me permite recibir datos del usuario mediante métodos de entrada</dd>
                                <dd><input type="radio" name="pregunta3" id="p34"> Es un concepto de abstracción de código que permite ser reutilizable en el flujo y construcción de un programa, el cual puede o no tener un valor de retorno</dd>
                            </ol>
                            <p id="color">Pregunta#4</p>
                            <p><strong>La abstracción de datos es considerada como:</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta4" id="p41"> La definición de los datos y sus tipos que se van a manejar a la hora de crear un programa</dd>
                                <dd><input type="radio" name="pregunta4" id="p42"> La definición de una operación matemática ya sea suma, resta, multiplicación o división</dd>
                                <dd><input type="radio" name="pregunta4" id="p43"> Es la representación del contexto global de las variables declaradas en un programa</dd>
                                <dd><input type="radio" name="pregunta4" id="p44"> Es la separación de las propiedades lógicas de los tipos de datos de su implementación</dd>
                            </ol>
                            <p id="color">Pregunta#5</p>
                            <p><strong>¿Cómo se crean los tipos de datos abstractos</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta5" id="p51"> Se deben definir primero los tipos de variables a utilizar para luego poder crear los tipos de datos abstractos</dd>
                                <dd><input type="radio" name="pregunta5" id="p52"> Principalmente identificando el problema planteado y generando un modelo de lo que necesita, previamente basados en el modelo se pueden crear la abstracción de los datos que
                                    resolverán la necesidad del problema</dd>
                                <dd><input type="radio" name="pregunta5" id="p53"> Se identifica el número de operaciones que se necesitan realizar para poder después abstraer los datos que se van a necesitar</dd>
                            </ol>
                            <p id="color">Pregunta#6</p>
                            <p><strong>Según las siguiente definiciones, ¿cuál considera que se adapta mejor a la definición de clases?</strong></p>
                            <ol type="">
                                <dd><input type="radio" name="pregunta6" id="p61"> Una clase es definida como una colección de variables y funciones que manipulan a las variables</dd>
                                <dd><input type="radio" name="pregunta6" id="p62"> Es un tipo de programa que permite y facilita la manipulación de los datos</dd>
                                <dd><input type="radio" name="pregunta6" id="p63"> Es la definición de un tipo de dato</dd>
                                <dd><input type="radio" name="pregunta6" id="p64"> Es un complemento de librerías utilizadas en en lenguaje C para poder manejar estructuras de datos</dd>
                            </ol>
                            <a type="button" class="btn btn-primary " onclick="resultado()"> <img src="../../../assets/images/icons/marca-de-verificacion.png" class="card-img-top" alt="introducion.jpg"> RESPONDER</a>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>




</div>