<div class="row mx-auto mb-5 ">

    <div class="card mx-auto col-lg-10 my-5" style="width: 70rem;">
        <div class="card-body">

            <!--Preguntas-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                            <p id="color">Pregunta#1</p>
                            <p><strong>La abstracción de datos es un término considerado como:</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta1" id="p11"> La operación de los datos que se intentan manejar dentro de un programa </dd>
                                <dd><input type="radio" name="pregunta1" id="p12"> Definición de los tipos de variables que se declaran a la hora de realizar un programa</dd>
                                <dd><input type="radio" name="pregunta1" id="p12"> Es la representación de los datos con los cuales se va a manejar un programa, dejando de lado el cómo son tratados por la máquina</dd>
                                <dd><input type="radio" name="pregunta1" id="p12"> Es el desempeño que tienen los datos sobre el rendimiento de un programa</dd>
                            </ol>
                            <p id="color">Pregunta#2</p>
                            <p><strong>¿A que se le considera modelo cuando se habla de abstracción de datos?</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta2" id="p21"> Es un prototipo que permite estructurar los componentes de un programa</dd>
                                <dd><input type="radio" name="pregunta2" id="p22"> Define la perspectiva abstracta del problema, enfocándose en los aspectos relacionados al problema</dd>
                                <dd><input type="radio" name="pregunta2" id="p23"> Se considera a la representación de la cantidad de datos que se va a manejar en un programa</dd>
                                <dd><input type="radio" name="pregunta2" id="p24"> Ninguna de las anteriores</dd>
                            </ol>
                            <p id="color">Pregunta#3</p>
                            <p><strong>Cuando se habla de operaciones dentro de los modelos se hace referencia a:</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta3" id="p31"> Conjunto de variables que operan entre sí, con el objetivo de poder realizar una tarea en el programa</dd>
                                <dd><input type="radio" name="pregunta3" id="p33"> Son las operaciones aritméticas básicas que se le pueden aplicar a un conjunto de datos como los la suma, resta, multiplicación y división</dd>
                                <dd><input type="radio" name="pregunta3" id="p32"> Son un conjunto de métodos que van a permitir realizar definidas acciones utilizando los datos abstraídos del modelo</dd>
                                <dd><input type="radio" name="pregunta3" id="p34"> Es la manera más práctica de poder obtener los datos abstraídos del modelo para poder ser representados por el usuario del programa</dd>
                            </ol>
                            <p id="color">Pregunta#4</p>
                            <p><strong>¿Los datos de un módelo son de alcance global si no se define su alcance? (es decir, desde cualquier parte de un programa se podrían obtener los datos de un determinado modelo)</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta4" id="p41"> Verdadero </dd>
                                <dd><input type="radio" name="pregunta4" id="p42"> Falso</dd>
                            </ol>
                            <p id="color">Pregunta#5</p>
                            <p><strong>¿Cómo se le denomina a la variables y funciones que conforman una clase?</strong></p>
                            <ol type="A">
                                <dd><input type="radio" name="pregunta5" id="p51"> Atributos</dd>
                                <dd><input type="radio" name="pregunta5" id="p52"> Métodos</dd>
                                <dd><input type="radio" name="pregunta5" id="p53"> Funciones abstractas</dd>
                                <dd><input type="radio" name="pregunta5" id="p53"> Ninguna de las anteriores</dd>
                            </ol>
                            <p id="color">Pregunta#6</p>
                            <p><strong>¿Cuando un elemento de una clase es de tipo private significa que?</strong></p>
                            <ol type="">
                                <dd><input type="radio" name="pregunta6" id="p61"> No hay NINGUNA forma de poder acceder a ese elemento</dd>
                                <dd><input type="radio" name="pregunta6" id="p62"> La única forma de acceder a ese elemento es creando un objeto de esa clase y hacer el llamada a ese elemento privado</dd>
                                <dd><input type="radio" name="pregunta6" id="p63"> Ese elemento es accesible solamente desde otros elementos o el constructor de esa misma clase</dd>
                                <dd><input type="radio" name="pregunta6" id="p64"> Ninguna de las anteriores</dd>
                            </ol>
                            <a type="button" class="btn btn-primary " onclick="resultado()"> <img src="../../../assets/images/icons/marca-de-verificacion.png" class="card-img-top" alt="introducion.jpg"> RESPONDER</a>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>




</div>