.title-content h1 {
    font-size: 50px;
    font-family: initial;
}

.title-content a {
    cursor: pointer;
}

.title-content img {
    width: 40px;
}

.title-content a:hover>img {
    width: 45px;
}

#special-text {
    color: rgb(0, 136, 255);
}

.card-text {
    font-size: 120%;
    text-align: justify;
}

#different-text {
    color: rgb(114, 112, 112);
    font-size: 80%;
}

#espacio {
    transform: translate(50px)
}

#espacio1 {
    transform: translate(10 px)
}