<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">
        <a [routerLink]="['/modulo1-abstraccion']" class="d-inline-block mr-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/left-row.png" alt="left-row.png">
        </a>
        <h1 class="d-inline-block" id="tit">Concepto de función </h1>
        <a [routerLink]="['/modulo1-algoritmos']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>

    <div class="card mx-auto col-lg-8" style="width: 70rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> ¿Qué es una función?</h1>
            <div class="">
                <p class="card-text mx-auto my-4">
                    Una función es una herramienta de abstracción para separar su comportamiento físico de su implementación, es importante hacerlo por dos razones.
                </p>
                <p class="card-text mx-auto my-4">
                    Es fácil diseñar programas usando descomposición funcional, esto no es más que descomponer un problema grande en problemas más pequeños, cada uno expresado como una llamada a una función.
                </p>
                <p class="card-text mx-auto my-4">
                    La separación del comportamiento físico y la implementación alienta a la creación de software reusable, esto sirve para usar el código escrito anteriormente y usarlo en diferentes aplicaciones, “<span id="special-text">No reinventar la rueda</span>”.
                </p>
                <p class="card-text mx-auto my-4">
                    Hay dos categorías de funciones, las que regresan un determinado valor y las que no, estas últimas están más enfocadas a realizar procedimientos, estos procedimientos se les denomina efectos colaterales, como la modificación de variables en la lista de
                    parámetros o la modificación de variables globales.
                </p>
                <p class="card-text mx-auto my-4">
                    Al diseñar e implementar las funciones se requiere poner atención cuidadosa al flujo de datos de la lista de parámetros. El flujo de datos es el flujo de la información del llamador hacia la función y de la función hacia el llamador, para cada parámetro
                    de la lista de parámetros de la función, hay tres posibilidades: un camino de datos dentro de la función, un camino fuera de la función, o dos flujos dentro y fuera de la función. La dirección del flujo de datos determina el método
                    de pasar los parámetros.
                </p>
            </div>
        </div>

    </div>

    <div class=" card col-lg-5 mx-auto my-5" id="espacio" style="width: 37rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Declaración de una función</h1>
            <div class="">
                <p class=" card-text mx-auto my-4 "> En un programa existen la declaración de la función, la llamada de la función y la definición de la función.
                </p>
                <p class="card-text mx-auto my-4 "> El prototipo de la declaración de la función es:
                </p>
                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
     returnType functionName (parameter1, parameter2,...) {{'{'}}
    // function body   
{{'}'}}
                    </code>
                </pre>

                <p class="card-text mx-auto my-4 "> Un ejemplo de la declaración de la función, donde la lista de argumentos se declara con tipo y nombre, y cada argumento se debe declarar independientemente, de la siguiente manera:
                </p>
                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        float volumen(int x, float y, float z){{'{'}}
                            float v = a*b*c;
                        {{'}'}}
                    </code>
                </pre>

                <p class="card-text mx-auto my-4 "> La función volumen puede ser invocada de la siguiente forma:
                </p>
                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        float cubo1 = volumen (b1, w1, h1)
                    </code>
                </pre>

                <p class="card-text mx-auto my-4 "> Con la condición de que las variables b1, w1 y h1 se declaren con anterioridad.

                </p>
                <p class="card-text mx-auto my-4 ">En el flujo de datos dentro de la función, el llamador pasa una copia del parámetro en uso a la función y no quiere que la función modifique el parámetro en uso. La función inspeccionara, pero no modificara el parámetro en uso del llamador.
                    Este es llamado el paso de los argumentos por valores.
                </p>
                <p class="card-text mx-auto my-4 ">En forma tradicional las funciones pasan los argumentos por valor. La llamada a función crea un nuevo conjunto de variables y copia los valores de los argumentos dentro de ellos. La función no tiene acceso a las variables actuales en el
                    programa que llama y solamente trabaja en las copias de los valores. Un ejemplo es el siguiente:
                </p>

                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        int Trans(int someInt) {{'{'}}

                            return 2 * someInt + 5;  
                            
                        {{'}'}}
                    </code>
                </pre>

            </div>
        </div>
    </div>

    <div class=" card col-lg-5 mx-auto my-5" ip="#espacio1 " style="width: 37rem;height:63rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Procedimientos</h1>
            <div class="">
                <p class=" card-text mx-auto my-4 "> Los procedimientos son similares a las funciones, aunque más resumidos. Debido a que los procedimientos no retornan valores, no hacen uso de la sentencia return para devolver valores y no tienen tipo específico, solo <span id="special-text">void</span>.
                    Veamos un ejemplo:
                </p>

                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        void procedimiento(int n, string nombre)
{{'{'}}
    if(n == 0)
    {{'{'}}
        cout << "hola" << nombre;
        return;
        {{'}'}}
    cout << "adios" << nombre;
    {{'}'}}
                    </code>
                </pre>

                <p class=" card-text mx-auto my-4 ">
                    De este ejemplo podemos ver que ya no se usa un tipo sino que se pone void, indicando que no retorna valores, también podemos ver que un procedimiento también puede recibir parámetros o argumentos.
                </p>
                <p class=" card-text mx-auto my-4 ">
                    <span id="special-text">Nota: </span><span id="different-text"> procedimientos también pueden usar la sentencia return, pero no con un valor. En los procedimientos el return sólo se utiliza para finalizar allí la ejecución de la función.</span>
                </p>
                <p class=" card-text mx-auto my-4 ">
                    Los procedimientos son similares a las funciones, aunque más resumidos. Debido a que los procedimientos no retornan valores, no hacen uso de la sentencia return para devolver valores y no tienen tipo específico, solo <span id="special-text">void</span>.
                </p>
                <pre class="language-language-markup line-numbers">
                    <code class="language-c ">
                        void inicializar(float& delta, float& epsilon) {{'{'}}

                            delta = 0.1; 
                                
                            epsilon = 0.002; 
                                
                            {{'}'}}
                    </code>
                </pre>

            </div>
        </div>
    </div>
    <a class="btn btn-primary col-lg-3 mx-auto" (click)="open(examplemodal)"> VER EJEMPLOS </a>
</div>

<ng-template #examplemodal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Ejemplos</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <li>
                <a routerLink="/module4/ejemplo1">
                    Realizar una función que permita recibir por parámetros dos listas, y como resultado retorna otra lista con los valores sumados de cada uno de los elementos de las listas.Realizar una función que permita recibir por parámetros dos listas, y como resultado retorna otra lista con los valores sumados de cada uno de los elementos de las listas.
                </a>
            </li>
            <li>
                <a routerLink="/module4/ejemplo2">
                    Realizar un programa en C que mediante una función llamada factorial (la cual recibe como parámetro un número n), retorna un entero con la suma de los números comprendidos del factorial.
                </a>
            </li>
            <li>
                <a routerLink="/module4/ejemplo3">
                    Dado dos variables definidas por el usuario (a,b) realizar dos funciones. Una llamada suma la cual recibe como parámetros las variables (a,b) retornando la suma entre dichas variables y otra llamada resta la cual recibe como parámetros (b,a) retornando como resultado la resta entre dichas variables. Al final se debe mostrar por pantalla la multiplicación del resultado de cada función.
                </a>
            </li>
            <!-- <li>
                <a routerLink="/module4/ejemplo4">
                    Realizar un programa que imprima series numéricas a razón de dos parámetros. Para realizar este programa se requiere crear una función llamada serie, la cual recibe por parámetro 2 valores, un valor x el cual determina la razón de cambio de la serie y un valor n que determina el valor máximo de la serie. Ejemplo siendo x = 3 y n = 30 entonces la serie sería 1 3 6 9 … 30.
                </a>
            </li> -->
        </ol>
    </div>
</ng-template>