<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">

        <h1 class="d-inline-block" id="tit">Arbol equilibrado de busqueda</h1>
        <a [routerLink]="['/modulo2-especificacion']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>

    </div>

    <div class=" card col-lg-8 mx-auto my-2" id="espacio" style="width: 37rem; height: 10rem;">
        <div class="card-body">

            <div class="">
                <p class=" card-text mx-auto my-2 ">
                    Los árboles binarios de búsqueda, son un tipo especial de árbol binario cuya característica radica en la forma ordenada de insertar sus elementos, facilitando así la búsqueda de un nodo en particular. Para puntualizar aun más, se tratarán los árboles
                    binarios de búsqueda, en los que se tiene preestablecido un cierto orden, que seguramente ayudará a encontrar un cierto dato dentro de un árbol con mucha rapidez.
                </p>
            </div>
        </div>
    </div>
    <div class=" card col-lg-8 mx-auto my-2" id="espacio" style="width: 37rem;height: 16rem; ">
        <div class="card-body">
            <h1 class="card-title text-center">Arbol equilibrado de busqueda</h1>
            <div class="">
                <p class=" card-text mx-auto my-4 ">
                    Se considera que un árbol binario está balanceado cuando todos sus niveles,excepto el último, están integrados a la máxima capacidad de nodos.
                </p>
                <p class=" card-text mx-auto my-4 ">
                    Existen diferentes propuestas para balancear los árboles y cada una de ellas repercute en la eficiencia de las operaciones de inserción y eliminación de los nodos.
                </p>
                <p class=" card-text mx-auto my-4 ">
                    La más común es la técnica de árboles AVL.
                </p>
            </div>
        </div>
    </div>
    <div class=" card col-lg-8 mx-auto my-2" id="espacio" style="width: 37rem; ">
        <div class="card-body">
            <h1 class="card-title text-center">Arboles AVL</h1>
            <div class="">
                <p class=" card-text mx-auto my-4 ">
                    Es un árbol de búsqueda binario que trata de mantenerlo lo más balanceado posible, conforme se realizan operaciones de inserción y eliminación.
                </p>
                <p class=" card-text mx-auto my-4 ">
                    En los árbolesAVL se debe cumplir el hecho de que para cualquier nodo del árbol, la diferencia entre las alturas de sus subárboles no exceda una unidad.
                </p>
                <p class=" card-text mx-auto my-4 ">
                    <span id="special-text">Factor de Balanceo: </span> Los nodos de un árbol AVL guardan un valor -1, 0, 1 , que se conoce como Factor de Balanceo (FB) y representa la altura entre las alturas de sus subárboles. Un FB igual a cero de
                    un nodo significa que las alturas de sus subárboles son iguales. Un FB positivo significa que la altura de su subárbol derecho es mayor al subárbol izquierdo. Un FB negativo significa que la altura de su subárbol izquierdo es mayor
                    al subárbol derecho
                </p>
                <p id="text-align-img">
                    <img class="card-img-top " id="card-img-tam" src="../../assets/images/equilibrado/Ilus1.png">
                </p>

            </div>
        </div>
    </div>

</div>