<!-- <div class="row mx-auto mb-5 ">
    <div class="my-5 col-lg-12 text-center">
        <h1 id="tit">Abstracción en lenguajes de programacion</h1>
    </div> -->
<div class="row mx-auto mb-5" id="main-content">
    <div class="my-5 col-lg-12 text-center title-content">

        <h1 class="d-inline-block" id="tit">Abstracción en lenguajes de programacion</h1>
        <a [routerLink]="['/modulo2-tipo']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>

    <div class="card mx-auto col-lg-8" style="width: 70rem;">
        <div class="card-body">


            <p class="card-text mx-auto my-4">
                La abstracción, cuando se aplica a la solución de problemas, le permite concentrarse en la solución del problema, sin preocuparse de los detalles de su implementación. Lo mismo es cierto con los datos. La abstracción de los datos le permite trabajar con
                los datos sin importar como son representados y tratados en la memoria de la computadora.
            </p>
            <p class="card-text mx-auto my-4">
                Tomemos la operación de suma como ejemplo. Para la suma de enteros, se deben proporcionar dos argumentos de tipo entero que serán sumados y regresara la suma entera de los dos. ¿Debería cuidar los detalles de cómo la computadora implementa la suma o representa
                los enteros en memoria? ¡De seguro que no! Lo que tiene que hacer es proporcionar la información para que la operación de suma realice su trabajo y revisar la información que regresa.
            </p>


        </div>

    </div>
    <div class="card mx-auto col-lg-8 my-4" style="width: 70rem;">
        <div class="card-body">


            <p class="card-text mx-auto my-4">
                En otras palabras, todo lo que tiene que saber es lo que debe suministrar a la operación y como le responderá. A la manera en que los tipos abstractos de datos (TAD) actuaran y reaccionaran para una operación determinada se conoce con el nombre de desempeño.
            </p>
            <p class="card-text mx-auto my-4">
                Para poder realizar un programa que va a resolver un problema de la vida real no es necesario usar todas las variantes del problema y su contexto, sino que es necesario abstraer lo que se usa en el programa, lo que se declara y se opera son los datos,
                por lo que es importante hacer uso de la abstracción de datos. Para hacer la abstracción de datos se hace de manera lógica con el uso del razonamiento o aplicando herramientas.
            </p>


        </div>

    </div>
    <div class="col-lg-8 mx-auto text-center  my-4" style="width: 72rem;">
        <p class="text" id="color"> <span id="change">¿Qué hace?</span>, más </p>
        <p class="text my-4" id="color"> que él, <span id="change">¿cómo lo</span></p>
        <p class="text my-4" id="color"> <span id="change">hace?</span></p>

    </div>
</div>

<ng-template #examplemodal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Ejemplos</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <li>
                <a routerLink="/module3/ejemplo1">
                    Realice un programa que permita el almacenamiento de datos de una canci?n MP3, los datos a guardar son:  artista, titulo, duracion (minutos), el programa debe permitir pedirle los datos necesarios para almacenarlos en un TAD
                </a>
            </li>
        </ol>
    </div>
</ng-template>