#tit {
    font-size: 400%;
    font-family: initial;
}

.card-text {
    font-size: 120%;
    text-align: justify;
}

#change {
    color: rgb(102, 201, 205);
    font-weight: bold;
}

#color {
    color: black;
    font-size: 300%;
    font-weight: bold;
}