<div class="row mx-auto mb-5 ">
    <div class="my-5 col-lg-12 text-center">
        <h1 id="tit">Punteros</h1>
    </div>

    <div class="card mx-auto col-lg-10" style="width: 70rem;">
        <div class="card-body">

            <div class="">
                <p class="card-text mx-auto my-4">
                    Un Puntero es una variable que contiene una dirección de memoria, la cual corresponderá a un dato o a una variable que contiene el dato. Cada variable que se utiliza en una aplicación ocupa una o varias posiciones de memoria. Estas posiciones de memoria
                    a los que se acceden por medio de una dirección.
                </p>
                <p class="card-text mx-auto my-4">
                    Cuando una variable de tipo puntero tiene almacenada una dirección de memoria, se dice que <span id="special-text">apunta</span> al valor que está en esa dirección.
                </p>
                <img src="../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top my-1" alt="guide.svg">
                <p class="card-text mx-auto my-4">
                    En general no importa cuál es valor exacto de un puntero, sino que basta con comprender qué es lo que hay <span id="special-text">al otro lado</span>. Por esto, en los diagramas de la memoria se suele preferir usar flechas en lugar
                    de las direcciones explícitas:
                </p>
                <img src="../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top my-1" alt="guide.svg">
            </div>
        </div>

    </div>
</div>