#tit {
    font-size: 400%;
    font-family: initial;
}

.card-text {
    font-size: 100%;
    text-align: justify;
}

#special-text {
    color: rgb(0, 187, 255);
}

.card img {
    width: 220px;
    height: 200px;
}

.card-title {
    font-size: 250%;
}

#nota {
    color: rgb(133, 130, 130);
    font-size: 90%;
}