<div class="row mx-auto mb-5">

    <div class="row mx-auto my-3">
        <div class="col-lg-4  my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/datoslineales/Ilus1.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Pilas</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-pilas']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="../../../assets/images/datoslineales/Ilus2.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Colas</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-colas']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/datoslineales/Ilus3.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Colas con prioridades</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-colas-prioridad']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/datoslineales/Ilus4.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Listas enlazadas</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-listas']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/datoslineales/Ilus5.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Tablas hash</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-tablas']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-3">
            <div class="card" style="width: 22rem;">
                <img src="../../../assets/images/datoslineales/Ilus6.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                    <h2 class="card-title text-center">Cuestionario</h2>

                    <a id="btn-module" [routerLink]="['/modulo3-cuestionario']" class="btn btn-outline-dark">Ir</a>
                </div>
            </div>
        </div>


    </div>
</div>