.title-content h1 {
    font-size: 50px;
    font-family: initial;
}

.title-content a {
    cursor: pointer;
}

.title-content img {
    width: 40px;
}

.title-content a:hover>img {
    width: 45px;
}

#pende img {
    width: 500px;
    height: 500px;
}

.card-text {
    font-size: 120%;
    width: 30rem;
    text-align: justify;
}

.card-title {
    font-size: 250%;
}

#color-text li {
    color: rgb(55, 236, 227);
    width: 60rem;
    font-size: 100%;
}

#list-text {
    color: rgb(0, 0, 0);
}

#special-text {
    color: rgb(55, 236, 227);
}

#text-secondary {
    color: rgb(114, 113, 113);
}

.card-text {
    font-size: 120%;
    text-align: justify;
}

#propia {
    width: 45rem;
}

#tam p {
    width: 50rem;
}

#tam-text li {
    width: 50rem;
}

#tam-strong {
    font-size: 120%;
}