<div class="row mx-auto mb-5 ">
    <div class="my-5 col-lg-12 text-center title-content">
        <h1 class="d-inline-block" id="tit">Introducción </h1>
        <a [routerLink]="['/modulo1-tipo']" class="d-inline-block ml-4">
            <img class="d-inline-block mb-3" src="../../assets/images/icons/right-row.png" alt="right-row.png">
        </a>
    </div>
    <div class="card mx-auto " style="width: 35rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> ¿Qué son las estructuras de datos?</h1>
            <div class="">
                <p class="card-text mx-auto my-4">
                    Las estructuras de datos es la combinación de los tipos de datos básicos, el concepto de tipos de datos viene de la necesidad de representar información y poderla operar en una computadora, para esto es necesario representar esta información de forma
                    binaria.
                </p>
            </div>
        </div>
        <img src="../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="guide.svg">
    </div>

    <div class="card mx-auto " style="width: 35rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Codigo ASCII</h1>
            <div class="mx-auto">
                <p class="card-text mx-auto">
                    Los tipos de datos estandarizados vienen de acuerdo con el ANSI (American National Standards Institute) esta pertenece a la Organización Internacional para la Estandarización (ISO). El ASCII (American Standard Code for Information Interchange) que se
                    traduce al español como Código Estándar Estadounidense para el Intercambio de Información, es el código de caracteres basado en el alfabeto latino para el intercambio de información. Este fue creado en 1963 por el Comité Estadounidense
                    de Estándares (ASA), es una evolución de los códigos utilizados en la telegrafía, en 1967, se incluyeron las minúsculas, y se redefinieron algunos códigos de control para formar el código conocido como US-ASCII.
                </p>
                <p class=" card-text mx-auto ">
                    El código ASCII utiliza 7 bits para representar caracteres, fue publicado como estándar en 1967 y su última actualización fue en 1986. Actualmente define códigos para 32 caracteres no imprimibles, de los cuales la mayoría son caracteres de control obsoletos
                    que tienen efecto sobre cómo se procesa el texto, más otros 95 caracteres imprimibles que les siguen en la numeración (empezando por el carácter espacio).
                </p>
                <p class="card-text mx-auto">
                    La mayoría de los sistemas informáticos actualmente usan el código ASCII o una extensión compatible para la representación de texto y para el control de periféricos de escritura como el teclado.
                </p>
                <p class="card-text mx-auto">
                    Caracteres ASCII:
                    <a id="colorLink " href="https://elcodigoascii.com.ar/ "> https://elcodigoascii.com.ar/ </a>
                </p>
            </div>
        </div>

    </div>

</div>