<div class="row mx-auto mb-5">
    <div class="my-5 col-lg-12 text-center">
        <h1>Módulos</h1>
    </div>
    <div class="row mx-auto ">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                  <h2 class="card-title">Card title</h2>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                  <h2 class="card-title">Card title</h2>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                  <h2 class="card-title">Card title</h2>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/moduImg/IntroduccionIlus.svg" class="card-img-top" alt="introducion.jpg">
                <div class="card-body">
                  <h2 class="card-title">Card title</h2>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
