*{
    color: white;
}
.banner{
    background-color: black;
}
.banner #content-after-banner{
    width: 90%;
    margin: auto;
}
h1{
    font-size: 30px;
}
.btn-go{
    border: 1px solid white;
}
.btn-go:hover{
    border: 2px double white;
}
.card .card-body h1,.card .card-body p{
    color:black;
}
button.carousel-control-prev{
    margin-left: 18pc;
} 
button.carousel-control-next{
    margin-right: 18pc;
} 

button img{
    width: 40%;
}