<div class="banner p-5">
    <div class="row mt-3" id="content-after-banner">
        <div class="col-lg-6 mt-5">
            <h1 class="w-75">GUIA PARA EL APRENDIZAJE DE ESTRUCTURA DE DATOS</h1>
            <p>
                Este software tiene como objetivo servir de herramienta de apoyo a los estudiantes de la Universidad Tecnológica de Pereira para el aprendizaje del las estructuras de datos. En este software se encontrará ejemplos y ejercicios dinámicos, los cuales le
                ayudaran en la comprensión y entendimiento de las estructuras de datos.
            </p>
            <a href="#" class="btn btn-go">
        Vamos! >
      </a>
        </div>
        <div class="col-lg-6" id="woman-content">
            <img src="../../assets/images/homeImg/woman.svg" alt="woman.svg">
        </div>
    </div>
</div>
<div class="my-5">
    <div id="carouselTopicControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- 1 teoria  -->
            <div class="carousel-item active">
                <div class="card mx-auto" style="width: 25rem;">
                    <img src="../../assets/images/homeImg/Teoria.svg" class="card-img-top" alt="guide.svg">
                    <div class="card-body">
                        <h1 class="card-title text-center">Teoría</h1>
                        <p class="card-text">
                            Cada una de las secciones de los modulos cuenta con una base teorica la cual brindara el conocimiento necesario para el entendimiento de cada uno de los temas propuestos.
                        </p>
                    </div>
                </div>

            </div>
            <!-- 2 guia-->
            <div class="carousel-item">
                <div class="card mx-auto" style="width: 25rem;">
                    <img src="../../assets/images/homeImg/Guide.svg" class="card-img-top" alt="guide.svg">
                    <div class="card-body">
                        <h1 class="card-title text-center">Guia</h1>
                        <p class="card-text">
                            Cada una de las secciones de los modulos cuenta con una base teorica la cual brindara el conocimiento necesario para el entendimiento de cada uno de los temas propuestos.
                        </p>
                    </div>
                </div>

            </div>
            <!-- 3 practica-->
            <div class="carousel-item">
                <div class="card mx-auto" style="width: 25rem;">
                    <img src="../../assets/images/homeImg/Practica.svg" class="card-img-top" alt="guide.svg">
                    <div class="card-body">
                        <h1 class="card-title text-center">Practica</h1>
                        <p class="card-text">
                            Cada una de las secciones de los modulos cuenta con una base teorica la cual brindara el conocimiento necesario para el entendimiento de cada uno de los temas propuestos.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopicControls" data-bs-slide="prev">
          <img src="../../assets/images/icons/row-card-left.png" alt="right-row">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTopicControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <img src="../../assets/images/icons/row-card-right.png" alt="left-row">
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="row mx-auto" id="modules">
    <div class="col-lg-6 mx-auto">
        <h1 class="text-center " id="color">¿Qué son los módulos?</h1>
        <h2 class="text-justify" id="color1"> Un módulo es un lugar donde se encontrará lo necesario para alcanzar la comprensión de cada uno de los temas presentados en ellos. Al terminar todos los módulos, el estudiante contará con el conocimiento de cada uno de los temas, cada módulo cuenta
            con varias secciones que le permitira visualizar ejemplos practicos de lo explicado en cada sección.</h2>
        <a id="btn-module" class="btn btn-secondary" [routerLink]="['/modulos']">Modulos</a>
    </div>
    <div class="col-lg-4 me-auto">
        <img src="../../assets/images/homeImg/Modules.svg">
    </div>

</div>